// .shopping{
//     width: 100%;
//     height: 100%;
   
//     background-size: 100% 100%; 
//     background-color: black;
//     display: flex;
//     .shopping-headerl
//     {
//     display: flex;
//     align-items:center;
//     height: 60px;
//     width: 62%;
//     background-color: darkblue;
//     img{
//         height: 60px;
  
//     }
//     a{
    
//         color:rgb(206, 206, 80);
//         font-size:20px;
//         margin-top: 35px;
//     }
//     }
//     .shopping-headerr{
//         display: flex;
//         align-items:flex-end;
//         height: 60px;
//         width: 38%;
//         background-color: darkblue;
//         img{height: 18px;}
//         .guide{
//             color: white;
//             height: 18px;
//             display: flex;
//             align-items:flex-end;
//             img{height: 18px;margin-left:10px;}
//         }
//     }
   
//     }
//     .shopping-navi
//         {
            
//             margin-top: 80px;
//             position: absolute;
//             // margin: %;
//             width: 80%;
//             .anypruc{
//                 display: flex;
//                 .prucs{
//                     margin-left: 2%;
//                 }
//             }
//         }
.shopping{
    background-color: black;
}
